<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>用户新增页面</title>
</head>

<body>
<h1 style="padding-left:100px;">新增用户：</h1>
<form style="padding-left:100px;" action="#" th:action="@{/user/add}"  method="post">
    <!--用户名：<input name="name" class="form-control" id="name" type="text"
           placeholder="请输入用户名..." />
    部门：<input name="company" class="form-control" id="company" type="text"
           placeholder="请输入部门..." />
    手机号：<input name="phone" class="form-control" id="phone" type="text"
           placeholder="请输入手机号..." />
    邮箱：<input name="email" class="form-control" id="email" type="text"
           placeholder="请输入邮箱..." />
    <input type="submit" value="新增" />-->

    用户名：<input name="name" class="form-control" id="name" type="text"
               placeholder="请输入用户名..." /><br/><br/>
    部门：<input name="company" class="form-control" id="company" type="text"
              placeholder="请输入部门..." /><br/><br/>
    手机号：<input name="phone" class="form-control" id="phone" type="text"
               placeholder="请输入手机号..." /><br/><br/>
    邮箱：<input name="email" class="form-control" id="email" type="text"
              placeholder="请输入邮箱..." /><br/><br/>
    <input type="submit" value="新增" />
</form>

</body>
</html>