<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>用户详情页面</title>
</head>

<body>
<h1 style="padding-left:100px;">用户列表：</h1>
<form style="padding-left:100px;" action="#" th:action="@{/user/select}" method="post">
    用户名：<input name="name" class="form-control" id="name" type="text"
           placeholder="请输入用户名..." /><br/>
    手机号码：<input name="phone" class="form-control" id="phone" type="text"
           placeholder="请输入手机号..." /><br/>
    <input type="submit" value="查询" />
</form>
<form style="padding-left:100px;" action="#" th:action="@{/user/toAdd}" method="post">
    <input type="submit" value="新增" />
</form>
<div class="table-responsive">
    <table class="table table-striped table-sm">
        <thead>
        <tr>
            <th style="padding-left:100px;">#</th>
            <th style="padding-left: 100px;">姓名</th>
            <th style="padding-left:100px;">部门</th>
            <th style="padding-left:100px;">手机号码</th>
            <th style="padding-left:100px;">邮箱</th>
            <th style="padding-left:100px;">操作</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user,iterStat : ${userList}">
            <td style="padding-left:100px;" th:text="${user.id}"></td>
            <td style="padding-left:100px;" th:text="${user.name}"></td>
            <td style="padding-left:100px;" th:text="${user.company}"></td>
            <td style="padding-left:100px;" th:text="${user.phone}"></td>
            <td style="padding-left:100px;" th:text="${user.email}"></td>
            <td style="padding-left:100px;">
                <a th:href="@{/user/toUpdate/(id=${user.id})}" th:text="编辑"/>
                <button th:href="@{/user/delete/(id=${user.id})}" class="btn btn-sm btn-danger deleteBtn">删除</button>
            </td>

        </tr>
        <br/>
        </tbody>
    </table>
</div>

</body>
</html>